.heading {
    text-align: center;
    background-image: url("3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    padding-top: 100px;
    color: white;
}
 